<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= info?.company_name || 'JKT Hub' %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styles2.css" />
    <link rel="stylesheet" href="/css/styles3.css" />
    <link rel="icon" type="image/x-icon" href="/public/images/JKT logo bg.png" />
</head>
<body>
    <!-- Header -->
    <!-- <header class="header">
      <div class="logo-title">
        <% if (info?.logo_url) { %>
        <a href="/"><img src="<%= info.logo_url %>" alt="Logo" /></a>
        <% } %>
        <p><%= info?.company_name || 'C&S Church Online' %></p>
      </div>

      <button class="nav-toggle" onclick="toggleNav()">☰</button>
      <nav id="main-nav">
        <a  href="/">Home</a>
        <a href="/pathways">Pathways</a>
        <a class="active" href="/courses">Courses</a>
        <a href="/about">About Us</a>
        <a href="/gallery">Gallery</a>
        <a href="#faq">FAQ</a>
        <% if (isLoggedIn) { %>
          <% if (users?.profile_picture) { %>
            <img src="<%= users.profile_picture %>" alt="Profile" style="width:32px;height:32px;border-radius:50%;vertical-align:middle;margin-right:8px;">
          <% } %>
          <a style="background-color: red;" href="/admin/logout" class="login-button">Logout</a>
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown('profileMenu')">Profile ▾</button>
            <div class="dropdown-content" id="profileMenu">
              <a href="/profile">View Profile</a>
              <a style="background-color: black; padding: 5px 10px;" href="/make-payment" class="btn btn-primary">Fund wallet</a>
              <a href="/admin/dashboard">Dashboard</a>
              <a href="/admin/courses">Courses</a>
              <a href="/admin/pathways">Pathways</a>
              <a href="/admin/gallery">Gallery</a>
              <a href="/admin/videos">Videos</a>
            </div>

            <div class="dropdown-content" id="profileMenu">
              <p style="color: black;">💰 Wallet: ₦<%= walletBalance.toLocaleString() %></p>
              <a  href="/make-payment">Fund wallet</a>
              <a href="/profile">View Profile</a>
            </div>
            
          </div>
          <a href="/student/dashbard"> Dashboard</a>
          
          
          
        <% } else { %>
          <a href="/admin/login" class="login-button">Login</a>
          <a
            href="/signup"
            style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255)"
            class="login-button"
          >Signup</a>
          
        <% } %>
      </nav>
    </header> -->
    
</body>
</html>


